# Conexion a SQL Server (instancia local, memoria compartida, sin puerto)
DB_DRIVER=ODBC Driver 17 for SQL Server
DB_SERVER=localhost\SQLEXPRESS
DB_DATABASE=MiBait_Cobranza
DB_UID=usuario_sql
DB_PWD=contraseña_sql

# RPA
MIBAIT_URL=https://mibait.com/
# Sobrescribe la configuracion de la BD si se define (opcional)
# RPA_HEADLESS=false
